.fixed-header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #883030; /* Set your preferred background color */
    z-index: 1; /* Set a high z-index to ensure it's above other elements */
  }
  
  /* Add any additional styling you want for the fixed header */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  .sticky + .content {
    padding-top: 102px;
  }