.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
  }
  
  .pagination .page-item {
    margin: 0 5px; 
  }


  .dataTables_length select {
    background-color: #f0f0f0; 
  
  }

  